body {
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.parent {
  width: 900px;
  height: 500px;
  border: 1px solid #000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 25px;
}
.side {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.side > .player-0-score,
.side > .player-1-score {
  transform: translate(0, -120px);
}
.player-0-name > span,
.player-1-name > span {
  position: relative;
}

.active {
  background-color: #c1c1c1;
}
.active > .player-0-name > span::after,
.active > .player-1-name > span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
  border-radius: 50%;
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: green;
  outline: 0;
}
.new {
  top: 150px;
}
.role {
  top: 400px;
}
.hold {
  top: 480px;
}
.img-dice {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 300px;
  border: 1px solid #000;
}

.winner {
  background-color: #0a77b0;
}
